<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/styles.scss">
</head>

<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <!-- Logo ou Titre de la page -->
        <a href="template.twig" class="navbar-brand d-flex align-items-center">
            <img src="../images/home.png" width="25" height="25">
            <p class="mb-0">Accueil</p>
        </a>

         <a href="Entreprise.twig" class="navbar-brand d-flex align-items-center">
         <img src="../images/entreprise.png" width="25" height="25" class="me-2">
    <strong>Entreprise</strong>
        </a>

         <a href="Stagiaire.twig" class="navbar-brand d-flex align-items-center">
         <img src="../images/stage.png" width="25" height="25" class="me-2">
            <p class="mb-0">Stagiaire</p>
        </a>

         <a href="Inscription.twig" class="navbar-brand d-flex align-items-center">
         <img src="../images/inscrire.png" width="25" height="25" class="me-2">
            <p class="mb-0">Inscription</p>
        </a>

         <a href="Aide.twig" class="navbar-brand d-flex align-items-center">
         <img src="../images/aide.png" width="25" height="25" class="me-2">
            <p class="mb-0">Aide</p>
        </a>

         <a href="Déconnexion.twig" class="navbar-brand d-flex align-items-center">
         <img src="../images/deconnexion.png" width="25" height="25" class="me-2">
            <p class="mb-0">Déconnexion</p>
        </a>


    </div>
</div>


	
<body>
    <header>
        <div class="container text-center">
            <h1>Stage BTS</h1>
            <p>Bienvenue sur la page de gestion des stages</p>
            <hr class="my-4" />
            <p class="strike">Version précédente en maintenance</p>
              <img src="../images/stage-bts-cg.jpg" width="900" height="600"/>
        </div>
    </header>


    </main>
</body>
</html>