.navbar-brand.active {
    background-color: #007bff; /* Couleur de fond pour l'élément actif */
    color: white; /* Couleur du texte pour l'élément actif */
    border-radius: 5px; /* Optionnel : arrondir les coins */
}